<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yikangcheng.admin.yikang">
    <!-- Required -->
    <permission
        android:name="com.yikangcheng.admin.yikang.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" /> <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.yikangcheng.admin.yikang.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- Optional for location -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".app.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/qizhiyouapp_bg"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/qizhiyouapp_bg"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,HardcodedDebugMode">
        <activity android:name=".activity.AdvertActivity"></activity>
        <activity
            android:name=".util.PermissionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Permissions" />
        <activity
            android:name=".activity.Jpush.YoushengActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Jpush.LingyuanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.upush.SplashTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.yuangong.AticleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SignInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.yuangong.PhyListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.liveambitus.city.CityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.liveambitus.CateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.liveambitus.LiveamActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.h5activity.H5MessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.liveambitus.BuyTicketActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.liveambitus.MovieActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.orderstatus.newactivity.OrderReceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.h5activity.H5WuliuZhuangtaiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.orderstatus.newactivity.OrderAccomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.huanhuo.ApplyafterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.huanhuo.AfterappraiseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.orderstatus.newactivity.OrderCancelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.orderstatus.newactivity.OrderWaitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.yuangong.PhysicalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BuyAgainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.yuangong.StaffhealthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ApplySeleActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.particulars.GoodParticularsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.groupbookingactivity.GroupBookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.huanhuo.BarterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LogisticsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.logistics.LogisticsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.h5activity.InsideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.h5activity.H5RecommendListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.seek.SeckillActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.particulars.CustomParticularActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.particulars.MyParticularsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SeleGoodActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BarterPayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.h5activity.H5DiscountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BarterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BrterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.orderstatus.countdown.WaitForReceivingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.H5SecActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PayResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PartiCarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ClassifyHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FindPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.siteactivity.UserCompileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SelectCouponActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.coupon.CouponActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CustomerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SystemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrderFormActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.siteactivity.CompileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.siteactivity.AiteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ApoutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WuliuXinxiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CloseActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ConfirmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SeekListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SeekListNewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.myaccount.MyaccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.StartingWindowTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="71b4c79e15237f0558f34528" /> <!-- </>值来自开发者平台取得的AppKey -->
        <service android:name=".activity.orderstatus.countdown.ClockService" />

        <activity
            android:name=".activity.particulars.ParticularsActivity"
            android:screenOrientation="portrait"
            tools:ignore="DuplicateActivity"></activity>
        <activity
            android:name=".activity.particulars.ToParticularsActivity"
            android:screenOrientation="portrait"
            tools:ignore="DuplicateActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app"
                    android:pathPrefix="/openapp"
                    android:scheme="qizhiyou" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.seek.SeekActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.aftersale.AfterSaleActivity"
            android:screenOrientation="portrait"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".activity.ApoutUsActivity"
            android:screenOrientation="portrait"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".activity.siteactivity.CompileActivity"
            android:screenOrientation="portrait"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".activity.siteactivity.AiteActivity"
            android:screenOrientation="portrait"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".activity.obligation.ObligationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".activity.myaccount.IntroActivity"
            android:screenOrientation="portrait"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".activity.obligation.PaidActivity"
            android:screenOrientation="portrait"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".activity.obligation.CanceledActivity"
            android:screenOrientation="portrait"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".activity.obligation.DetailActivity"
            android:screenOrientation="portrait"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.yikangcheng.admin.yikang"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver android:name=".receiver.ApkInstallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver> <!-- 推送功能配置 -->
        <!-- Rich push 核心功能 since 2.0.6 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:theme="@style/MyDialogStyle" /> <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.yikangcheng.admin.yikang" />
            </intent-filter>
        </activity> <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service> <!-- since 3.0.9 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="com.yikangcheng.admin.yikang.DataProvider"
            android:exported="false"
            android:process=":pushcore" /> <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.yikangcheng.admin.yikang" />
            </intent-filter>
        </service> <!-- since 3.1.0 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DownloadProvider"
            android:authorities="com.yikangcheng.admin.yikang.DownloadProvider"
            android:exported="true" /> <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!-- Required  显示通知栏 -->
                <category android:name="com.yikangcheng.admin.yikang" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver> <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" /> <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name=".activity.Jpush.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.yikangcheng.admin.yikang" />
            </intent-filter>
        </receiver> <!-- User defined.  For test only  用户自定义接收消息器,3.0.7开始支持,目前新tag/alias接口设置结果会在该广播接收器对应的方法中回调 -->
        <receiver android:name=".activity.Jpush.MyJPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="com.yikangcheng.admin.yikang" />
            </intent-filter>
        </receiver>
    </application>

</manifest>