<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yikangcheng.admin.yikang">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".app.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.obligation.DetailActivity"></activity>
        <activity android:name=".activity.obligation.CanceledActivity" />
        <activity android:name=".activity.orderstatus.CloseTheDealActivity" />
        <activity android:name=".activity.obligation.PaidActivity" />
        <activity android:name=".activity.orderstatus.WaitForpaymentActivity" />
        <activity android:name=".activity.SelectCouponActivity"></activity>
        <activity android:name=".activity.coupon.CouponActivity" />
        <activity android:name=".activity.myaccount.IntroActivity" />
        <activity android:name=".activity.myaccount.PhoneActivity" />
        <activity android:name=".activity.myaccount.NameActivity" />
        <activity android:name=".activity.myaccount.NicknameActivity" />
        <activity android:name=".activity.obligation.ObligationActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.CustomerActivity" />
        <activity android:name=".activity.SystemActivity" />
        <activity android:name=".activity.OrderFormActivity" />
        <activity android:name=".activity.siteactivity.CompileActivity" />
        <activity android:name=".activity.siteactivity.AiteActivity" />
        <activity android:name=".activity.ApoutUsActivity" />
        <activity android:name=".activity.WuliuXinxiActivity" />
        <activity android:name=".activity.FaddishActivity" />
        <activity android:name=".activity.CloseActivity" />
        <activity android:name=".activity.MessageActivity" />
        <activity android:name=".activity.ConfirmActivity" />
        <activity android:name=".activity.SeekListActivity" />
        <activity android:name=".activity.aftersale.AfterSaleActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.RegisterActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.myaccount.MyaccountActivity" />
        <activity android:name=".activity.seek.SeekActivity" />
        <activity android:name=".activity.particulars.ParticularsActivity" />
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />

        <activity android:name=".activity.SeckillSecondActivity" />
        <activity
            android:name=".activity.particulars.ParticularsActivity"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".activity.seek.SeekActivity"
            tools:ignore="DuplicateActivity" />
        <activity android:name=".activity.SearchListActivity" />
        <activity
            android:name=".activity.aftersale.AfterSaleActivity"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".activity.ApoutUsActivity"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".activity.siteactivity.CompileActivity"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".activity.siteactivity.AiteActivity"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".activity.obligation.ObligationActivity"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".activity.myaccount.NicknameActivity"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".activity.myaccount.NameActivity"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".activity.myaccount.PhoneActivity"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".activity.myaccount.IntroActivity"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".activity.orderstatus.WaitForpaymentActivity"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".activity.obligation.PaidActivity"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".activity.orderstatus.CloseTheDealActivity"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".activity.obligation.CanceledActivity"
            tools:ignore="DuplicateActivity" />
        <activity android:name=".activity.obligation.DetailActivity"
            tools:ignore="DuplicateActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.llk.study.activity.PhotoActivity"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>